@charset "UTF-8";
body, p, ul, ol, dl, dd, h1, h2, h3, h4, h5, h6, hr, td, input, textarea {
  margin: 0;
  padding: 0; }

ul, ol, li {
  list-style: none; }

a {
  text-decoration: none;
  color: black; }

img {
  border: none;
  display: block; }

html, body {
  height: 100%; }

body {
  display: -webkit-flex;
  flex-direction: column;
  font-family: "微软雅黑";
  -webkit-flex-wrap: wrap;
  background: whitesmoke; }

html {
  font-size: 26.67vw; }

.content {
  width: 100%;
  display: -webkit-flex;
  overflow-y: auto;
  -webkit-flex: 1;
  -webkit-flex-wrap: wrap; }

header {
  background: white;
  padding-left: .13rem;
  padding-right: .13rem;
  color: black;
  display: -webkit-flex;
  -webkit-align-items: flex-start;
  -webkit-justify-content: space-between;
  height: 0.45rem;
  font-size: .13rem;
  line-height: .45rem; }
  header a {
    width: 0.85rem; }
  header .weather {
    display: -webkit-flex;
    -webkit-justify-content: space-around;
    height: 100%;
    width: .65rem;
    text-align: center; }
    header .weather span {
      font-size: 10px;
      line-height: .45rem; }
    header .weather .degree {
      font-size: .16rem; }

.l-searcher {
  display: -webkit-flex;
  -webkit-justify-content: space-around;
  -webkit-align-items: center;
  background: white;
  -webkit-align-items: flex-start;
  -webkit-justify-content: center;
  height: .34rem;
  width: 100%;
  padding-bottom: 5px; }
  .l-searcher .l-searcher__inputBox {
    display: -webkit-flex;
    -webkit-justify-content: space-around;
    -webkit-align-items: center;
    position: relative;
    -webkit-justify-content: center;
    height: 100%;
    width: 90%;
    font-size: .13rem; }
    .l-searcher .l-searcher__inputBox .icon-sousuo {
      font-size: .25rem;
      color: black;
      position: absolute;
      top: 2px;
      left: 5px; }
    .l-searcher .l-searcher__inputBox .l-searcher__inputBox--input {
      background: #eee;
      height: 80%;
      width: 100%;
      border-radius: .15rem;
      border: 1px solid #eee;
      text-indent: .35rem;
      outline: none; }

.swiper-container {
  height: 1.5rem;
  background: white;
  width: 100%; }
  .swiper-container img {
    height: 100%;
    width: 100%; }
  .swiper-container .swiper-button-prev, .swiper-container .swiper-button-next {
    height: .2rem;
    width: .2rem; }
  .swiper-container .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: -20px; }

.event {
  background: white;
  width: 100%;
  padding-top: .12rem;
  padding-bottom: .12rem;
  text-align: center; }
  .event a {
    display: block; }
    .event a img {
      width: 100%;
      height: 100%; }

.productType {
  background: white;
  display: -webkit-flex;
  -webkit-justify-content: space-around;
  -webkit-align-items: center;
  -webkit-flex-wrap: wrap;
  height: 1.5rem;
  width: 100%;
  padding-top: .15rem;
  margin-top: .15rem;
  margin-bottom: .15rem; }
  .productType .productType__itemBox {
    width: 20%;
    height: 50%; }
    .productType .productType__itemBox img {
      height: 70%;
      width: 70%;
      margin: 0 auto; }
    .productType .productType__itemBox span {
      float: left;
      text-align: center;
      font-size: .11rem;
      width: 100%;
      color: #3d3d3d; }

.onsale {
  background: white;
  width: 100%;
  padding: 12px;
  font-size: .16rem; }
  .onsale span {
    color: black;
    font-weight: bolder;
    float: left;
    text-indent: 10px;
    border-left: 3px solid #30a030; }
  .onsale .more {
    font-weight: normal;
    border-left: 0;
    font-size: .13rem;
    float: right; }

.moveProduct {
  display: -webkit-flex;
  -webkit-justify-content: space-around;
  -webkit-align-items: center;
  background: white;
  -webkit-justify-content: flex-start;
  overflow-x: auto;
  height: 2rem;
  font-size: .12rem;
  margin-bottom: .15rem; }
  .moveProduct a {
    height: 100%;
    width: 1.2rem;
    display: -webkit-flex;
    -webkit-justify-content: space-around;
    -webkit-align-items: center;
    -webkit-justify-content: space-between; }
    .moveProduct a .moveProduct__itemBox {
      width: 1.2rem;
      height: 100%; }
      .moveProduct a .moveProduct__itemBox img {
        width: 90%;
        margin: 0 auto; }
      .moveProduct a .moveProduct__itemBox span {
        display: block;
        margin: 0 auto;
        width: 90%;
        height: .25rem; }
      .moveProduct a .moveProduct__itemBox b {
        display: inline-block;
        color: red;
        line-height: .11rem;
        font-size: .11rem;
        height: .11rem;
        margin-top: 12px;
        margin-left: 17px;
        position: relative; }
        .moveProduct a .moveProduct__itemBox b:after {
          content: "$";
          display: inline-block;
          height: .11rem;
          font-size: .11rem;
          position: absolute;
          top: 0;
          left: -9px;
          color: red; }
        .moveProduct a .moveProduct__itemBox b:before {
          font-weight: normal;
          content: "$ 29.0";
          display: inline-block;
          height: .11rem;
          font-size: .11rem;
          position: absolute;
          top: 15px;
          left: -10px;
          color: gray;
          text-decoration: line-through; }

footer {
  display: -webkit-flex;
  -webkit-justify-content: space-around;
  -webkit-align-items: center;
  background: white;
  width: 100%;
  -webkit-justify-content: space-around;
  -webkit-align-items: flex-end;
  border-top: 1px solid #eee;
  color: #666666;
  flex-direction: row; }
  footer a {
    text-align: center;
    display: inline-block;
    height: .5rem;
    font-size: .2rem; }
    footer a .icon {
      display: block;
      width: 100%;
      margin-top: 5px; }
    footer a .footer-tit {
      margin-top: 5px;
      line-height: 10px;
      display: block;
      width: 100%;
      font-size: .13rem; }
    footer a:hover {
      color: #30a030; }

.special {
  height: 2.5rem;
  width: 100%;
  background: white;
  padding: 0.15rem;
  font-size: .11rem; }
  .special .special__contentBox {
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    height: 100%;
    background: #f1f1f1;
    width: 100%; }
    .special .special__contentBox .contentBox-item {
      padding: .15rem;
      box-sizing: border-box;
      border-radius: 5px;
      width: 49.8%;
      height: 49.8%;
      background: white; }
      .special .special__contentBox .contentBox-item .item-tit {
        color: mediumvioletred;
        font-size: .14rem;
        font-weight: bolder; }
      .special .special__contentBox .contentBox-item span {
        float: left;
        width: 100%;
        height: .2rem; }
      .special .special__contentBox .contentBox-item img {
        width: 100%; }
    .special .special__contentBox .contentBox-item:nth-child(even) {
      float: right; }
    .special .special__contentBox .contentBox-item:nth-child(odd) {
      float: left; }
    .special .special__contentBox .contentBox-item:nth-child(1), .special .special__contentBox .contentBox-item:nth-child(2) {
      margin-bottom: 1px; }

.vegt {
  margin-bottom: -0.15rem;
  width: 100%; }
  .vegt img {
    width: 100%; }
  .vegt .noMoveProduct {
    position: relative;
    top: -.15rem;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px; }
    .vegt .noMoveProduct a {
      width: 33.33%; }
      .vegt .noMoveProduct a .moveProduct__itemBox {
        width: 100%; }

/*# sourceMappingURL=index.css.map */
